<a href="https://colab.research.google.com/github/adeDamon/python_lab/blob/main/numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import random
salary_list = [random.randint(1, 100) for i in range(10)]
print(salary_list)

[78, 29, 14, 33, 87, 19, 31, 21, 43, 19]

In [2]:
import statistics

In [3]:
%%timeit
statistics.mean(salary_list)

12.4 µs ± 4.01 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [4]:
import numpy as np

In [5]:
%%timeit
np.mean(salary_list)

9.23 µs ± 1.54 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [7]:
my_array = np.array([1,2,3,4])
my_array.mean()

2.5

In [14]:
job_titles = np.array(['Data Scientist', 'Data Engineer', 'Data Analyst', 'Machine Learning Engineer', 'AI Engineer'])
base_salaries = np.array([100000, 80000, 70000, 90000, np.nan])
bonus_rates = np.array([.05, .1, .08, .12, np.nan])

In [16]:
total_salary = base_salaries * (1 + bonus_rates)
print(total_salary)

[105000.  88000.  75600. 100800.     nan]

In [18]:
np.nanmean(total_salary)

92350.0